# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# 자격증명 관련
*.pem
*.key
credentials
.env
attack/exfiltrated/

# Python
__pycache__/
*.pyc

# OS/에디터
.DS_Store
.vscode/